.navbar{
    margin-top: -20px;
}
.fa-heart {
    font-size: 20px;
    margin-top: -9px;
    margin-right: 20px;
    padding: auto;
  }
  
  .fa-cart-shopping {
    font-size: 20px;
    margin: 9px;
    margin-top: 11px;
    padding: auto;
  }
  
  .input1 {
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
    height: 42px;
    width: 42px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .input2 {
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
    height: 42px;
    width: 42px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .input-group {
    margin-top: 20px;
  }
  
  .form-control {
    border-radius: 30px;
  }
  
  .btn {
    border-radius: 30px;
  }
  
  .btn-6 {
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 45px;
    position: relative;
    border: none;
    color: #ffffff;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    background: #2577FD;
    border-radius: 30px;
    margin-left: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .btn-6::after {
    content: "";
    position: absolute;
    background-color: #47c5ff;
    width: 0%;
    height: 100%;
    left: 0%;
    top: 0%;
    border-radius: 30px;
    z-index: -1;
    transition: all 0.3s linear;
  }
  
  .btn-6:hover::after {
    width: 100%;
  }
  
  /* offcanvas */
  .fa-heart {
    font-size: 20px;
    margin-top: 11px;
    margin-left: 9px;
    padding: auto;
  }
  
  .fa-cart-shopping {
    font-size: 20px;
    margin-top: 11px;
    margin-left: 9px;
    padding: auto;
  }
  
  .input4 {
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
    height: 42px;
    width: 42px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .input3 {
    border-radius: 50%;
    border: 1px solid rgb(180, 180, 180);
    height: 42px;
    width: 42px;
    margin-top: -58px;
    margin-left: 60px;
  }
  
  .btn-7 {
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 45px;
    position: relative;
    border: none;
    color: #ffffff;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    background: #2577FD;
    border-radius: 30px;
    margin-left: 240px;
    bottom: 57px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .btn-7::after {
    content: "";
    position: absolute;
    background-color: #47c5ff;
    width: 0%;
    height: 100%;
    left: 0%;
    top: 0%;
    border-radius: 30px;
    z-index: -1;
    transition: all 0.3s linear;
  }
  
  .btn-7:hover::after {
    width: 100%;
  }
  
  .rounded-circle {
    bottom: 52px;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    background-color: #00b1ff;
  }
  
  .visually-show {
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    bottom: 45px;
    left: 4px;
    position: relative;
  }
  
  .span {
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    bottom: 51px;
    left: 4px;
    position: relative;
  }
  
  .badge {
    margin-top: -9px;
    background-color: #ff003c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn1 {
    margin-top: -5px;
    border: none;
    background-color: transparent;
    color: #707087;
    font-weight: 700;
    padding-left: 10px;
    transition: 0.3s ease;
  }
  
  .btn1:hover {
    margin-top: -5px;
    border: none;
    background-color: transparent;
    color: #ff003c;
    font-weight: 700;
    transition: 0.3s ease;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #707087;
    font-weight: 700;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    color: #ff003c;
    font-weight: 700;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  
  .nav-link {
    position: relative;
    font-weight: 700;
    padding-left: 20px;
  }
  
  .nav-link:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover:before {
    width: 100%;
  }

  .text-reset{
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
  }
  
  /* navbar end  */

/* 1 Part start */

.container1 {
    width: 100%;
    height: 300px;
    border: 1px solid white;
    background-image: url(Gallery/category.jpg);
    background-position: center;

    .checkout {
        font-size: 50px;
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-style: normal;
        text-align: center !important;
        margin-top: 100px;
    }
}

/* 1 Part end */

.Quantity{
    margin-top: 180px;
}

.last{
  padding-top: 100px;
}